body {
    padding-top: 80px;
    background:linear-gradient(to right, #009246 0, #009246 33%, #FFF 33%, #FFF 66%, #ce2b37 66%, #ce2b37 100%);
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
/*     text-align: center; */
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td,th {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

tr:nth-child(odd) {
    background-color: #FFF;
  }


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.toppings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    background-color: #FFF;
    padding-bottom: 20px;
    box-shadow: 5px 10px 18px #888888;
}

.card {
    width: 14rem;
}

.btn-moz {
    font-family: "Nunito Sans";
    font-weight: 700; }
    .btn:hover {
      cursor: pointer; }

.btn-pop {
    background: transparent;
    color: #000000;
    box-shadow: 4px 4px #000000;
    border: 2px solid #000000;
    position: relative;
    top: -2px;
    transition: all 0.08s ease; }
    .btn-pop:focus, .btn-pop:active, .btn-pop:hover {
      transform: translate(4px, 4px);
      color: #000000;
      box-shadow: none; }