{% extends "orders/layout.html" %}

{% block title %}
Checkout
{% endblock %}

{% block content %}

<div id="cart" class="container">

    <!-- ==== Dinner Platters ==== -->
    {% if dinnerPlatters %}
    <div class="container menu-container">
        <legend class="border-bottom mb-4">Dinner Platters</legend>
        <br>
        <table class="checkout_table">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
            {% for platter in dinnerPlatters %}
            <tr>
                <td>{{ platter.name }}</td>
                <td>{{ platter.get_size_display }}</td>
                <td>$ {{ platter.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <hr>
    </div>
    <br>
    {% endif %}



    <!-- ==== SALADS ==== -->
    {% if salads %}
    <div class="container menu-container">
        <legend class="border-bottom mb-4">Salads</legend>
        <br>
        <table class="checkout_table">
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            {% for salad in salads %}
            <tr>
                <td>{{ salad.name }}</td>
                <td>$ {{ salad.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <hr>
    </div>
    <br>
    {% endif %}

    <!-- ==== SUBS ==== -->
    {% if subs %}
    <legend class="border-bottom mb-4">Subs</legend>
    <br>
    <table class="checkout_table">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Base Price</th>
            <th>Extras</th>
        </tr>
        {% for sub in subs %}
        <tr>
            <td>{{ sub.name }}</td>
            <td>{{ sub.get_size_display }}</td>
            <td>$ {{ sub.price }}</td>
            <td>
                {% for extra in sub.extras.all %}
                <li>{{ extra }}</li>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    {% endif %}


    <!-- ==== Pastas ==== -->
    {% if pastas %}
    <div class="container menu-container">
    <legend class="border-bottom mb-4">Pastas</legend>
        <br>
        <table class="checkout_table">
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            {% for pasta in pastas %}
            <tr>
                <td>{{ pasta.name }}</td>
                <td>$ {{ pasta.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <br>
    </div>
    {% endif %}

</div>

{% endblock %}