{% extends "orders/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <div class="container menu-container">
        <!-- PIZZAS -->
        <legend class="border-bottom mb-4">Pizzas</legend>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Regular</h5>
                <p class="card-text">Our Regular pizza is a thin-crust or Neapolitan pizza.</p>
                <h6 class="card-subtitle mb-2 text-muted">From $12.20</h6>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pizzaModal">
                    Order
                </button>
            </div>
        </div>
        <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Sicilian</h5>
                    <p class="card-text">Our Sicilian pizza is a deep-dish or thick-crust pizza.</p>
                    <h6 class="card-subtitle mb-2 text-muted">From $23.45</h6>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pizzaModal">
                        Order
                    </button>
                </div>
        </div>
    </div>

    <br>

    <div class="container menu-container">
        <!-- SUBS -->
        <legend class="border-bottom mb-4">Subs</legend>
        <div class="col-md-6">
            {% for sub in subs %}
                <li>
                    {{ sub }}
                </li>
            {% endfor %}
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <legend class="border-bottom mb-4">Extras</legend>
            {% for extra in subExtras %}
                <li>
                    {{ extra }}
                </li>
            {% endfor %}
            <br>
            <hr>
            <br>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Order a Sub</h5>
                    <p class="card-text">Add a sub to your order.</p>
                    <h6 class="card-subtitle mb-2 text-muted">From $4.60</h6>
                    <button type="button" class="subModalButton btn btn-primary" data-toggle="modal" data-target="#subModal">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container menu-container">
        <!-- PASTAS -->
        <legend class="border-bottom mb-4">Pastas</legend>
        <div class="col-md-6">
            {% for pasta in pastas %}
                <li>
                    {{ pasta }}
                </li>
            {% endfor %}
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Order a Pasta</h5>
                    <p class="card-text">Add a pasta to your order.</p>
                    <h6 class="card-subtitle mb-2 text-muted">From $6.50</h6>
                    <button type="button" class="pastaModalButton btn btn-primary" data-toggle="modal" data-target="#pastaModal">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container menu-container">
        <!-- DINNER PLATTERS -->
        <legend class="border-bottom mb-4">Dinner Platters</legend>
        <div class="col-md-6">
            {% for dp in platters %}
                <li>
                    {{ dp }}
                </li>
            {% endfor %}
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Order a Dinner Platter</h5>
                    <p class="card-text">Add a dinner platter to your order.</p>
                    <h6 class="card-subtitle mb-2 text-muted">From $40.00</h6>
                    <button type="button" class="platterModalButton btn btn-primary" data-toggle="modal" data-target="#platterModal">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container menu-container">
        <!-- SALADS -->
        <legend class="border-bottom mb-4">Salads</legend>
        <div class="col-md-6">
            {% for salad in salads %}
                <li>
                    {{ salad }}
                </li>
            {% endfor %}
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Order a Salad</h5>
                    <p class="card-text">Add a salad to your order.</p>
                    <h6 class="card-subtitle mb-2 text-muted">From $6.25</h6>
                    <button type="button" class="saladModalButton btn btn-primary" data-toggle="modal" data-target="#saladModal">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dinner Platter Modal -->
    <div class="modal fade" id="platterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="platterModalLabel">Order your Dinner Platter!</h5>
                <button type="button" class="platterModalClose close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div>
                        <form>
                            {% csrf_token %}
                            <fieldset class="form-group" id="DinnerPlatterFieldset">
                                {{ dinnerPlatterForm|crispy }}
                            </fieldset>
                            <button type="button" id="platterAddCart" class="addCart btn btn-primary">Add to cart</button>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep ordering</button>
                <a href="{% url 'checkout' %}" type="button" class="checkout btn btn-success">Go to checkout</a>
            </div>
            </div>
        </div>
    </div>

    <!-- Pasta Modal -->
    <div class="modal fade" id="pastaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pastaModalLabel">Order your Pasta!</h5>
                <button type="button" class="pastaModalClose close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div>
                        <form>
                            {% csrf_token %}
                            <fieldset class="form-group" id="PastaFieldSet">
                                {{ pastaForm|crispy }}
                            </fieldset>
                            <button type="button" id="pastaAddCart" class="addCart btn btn-primary">Add to cart</button>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep ordering</button>
                <a href="{% url 'checkout' %}" type="button" class="checkout btn btn-success">Go to checkout</a>
            </div>
            </div>
        </div>
    </div>

    <!-- Pizza Modal -->
    <div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pizzaModalLabel">Order your Pizza!</h5>
                <button type="button" class="pizzaModalClose close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div>
                        <form>
                            {% csrf_token %}

                            <fieldset class="form-group" id="PizzaFieldset">
                                {{ pizzaForm|crispy }}
                            </fieldset>
                            <button type="button" id="pizzaAddCart" class="addCart btn btn-primary">Add to cart</button>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep ordering</button>
                <a href="{% url 'checkout' %}" type="button" class="checkout btn btn-success">Go to checkout</a>
            </div>
            </div>
        </div>
    </div>

    <!-- Salad Modal -->
    <div class="modal fade" id="saladModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saladModalLabel">Order your Salad!</h5>
                <button type="button" class="saladModalClose close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div>
                        <form>
                            {% csrf_token %}
                            <fieldset class="form-group" id="SaladFieldset">
                                {{ saladForm|crispy }}
                            </fieldset>
                            <button type="button" id="saladAddCart" class="addCart btn btn-primary">Add to cart</button>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep ordering</button>
                <a href="{% url 'checkout' %}" type="button" class="checkout btn btn-success">Go to checkout</a>
            </div>
            </div>
        </div>
    </div>

    <!-- Sub Modal -->
    <div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subModalLabel">Order your Sub!</h5>
                <button type="button" class="subModalClose close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div>
                        <form>
                            {% csrf_token %}
                            <fieldset class="form-group" id="SubFieldset">
                                {{ subForm|crispy }}
                            </fieldset>
                            <button type="button" id="subAddCart" class="addCart btn btn-primary">Add to cart</button>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep ordering</button>
                <a href="{% url 'checkout' %}" type="button" class="checkout btn btn-success">Go to checkout</a>
            </div>
            </div>
        </div>
    </div>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // is this the cookie we want?
                    if(cookie.substring(0, name.length+1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function addProduct(type, name, style, size, extras, toppings, quantity) {
            let products = []; //Initialize the products list

            // Get the current contents in products if it exists
            if (localStorage.getItem('products')){
                products = JSON.parse(localStorage.getItem('products'));
            }

            // Add the new product to the products list
            products.push({
                'type': type,
                'name': name,
                'style': style,
                'size': size,
                'extras': extras,
                'toppings': toppings,
                'quantity': quantity
            })

            // Store the updated products list in the local storage
            localStorage.setItem('products', JSON.stringify(products));
        }

        function configureModals() {
            // Dinner Platter Modal Setup
            var platterModal = document.getElementById('platterModal');
            var platterModalButton = document.getElementsByClassName('platterModalButton')
            var platterModalSpan = document.getElementsByClassName('platterModalClose')
            platterModalButton.onclick = function () {
                platterModalSpan.style.display = "block";
            };

            // Pasta Modal Setup
            var pastaModal = document.getElementById('pastaModal');
            var pastaModalButton = document.getElementsByClassName('pastaModalButton')
            var pastaModalSpan = document.getElementsByClassName('pastaModalClose')
            pastaModalButton.onclick = function () {
                pastaModalSpan.style.display = "block";
            };

            // Pizza Modal Setup
            var pizzaModal = document.getElementById('pizzaModal');
            var pizzaModalButton = document.getElementsByClassName('pizzaModalButton')
            var pizzaModalSpan = document.getElementsByClassName('pizzaModalClose')
            pizzaModalButton.onclick = function () {
                pizzaModalSpan.style.display = "block";
            };

            // Salad Modal Setup
            var saladModal = document.getElementById('saladModal');
            var saladModalButton = document.getElementsByClassName('saladModalButton')
            var saladModalSpan = document.getElementsByClassName('saladModalClose')
            saladModalButton.onclick = function () {
                saladModalSpan.style.display = "block";
            };

            // Sub Modal Setup
            var subModal = document.getElementById('subModal');
            var subModalButton = document.getElementsByClassName('subModalButton')
            var subModalSpan = document.getElementsByClassName('subModalClose')
            subModalButton.onclick = function () {
                subModalSpan.style.display = "block";
            };
        }

        function addDinnerPlatterToCart() {

            var dinnerPlatter = {
                'type': 'Dinner Platter',
                'name': document.getElementById('platter_name').value,
                'size': document.getElementById('platter_size').value,
                'quantity': document.getElementById('platter_quantity').value
            };

            addToCart(dinnerPlatter)

            // Close the Modal
            $('#platterModal').modal('hide');
        }

        function addPastaToCart() {

            var pasta = {
                'type': 'Pasta',
                'name': document.getElementById('pasta_name').value,
                'quantity': document.getElementById('pasta_quantity').value
            };

            addToCart(pasta);

            // Close the Modal
            $('#pastaModal').modal('hide');
        }

        function addPizzaToCart() {

            var pizza = {
                'type': 'Pizza',
                'style': document.getElementById('pizza_style').value,
                'size': document.getElementById('pizza_size').value,
                'extras': $('select#pizza_extras').val(),
                'toppings': $('select#pizza_toppings').val(),
                'quantity': document.getElementById('pizza_quantity').value
            }

            addToCart(pizza)

            // Close the Modal
            $('#pizzaModal').modal('hide');
        }

        function addSaladToCart() {

            var salad = {
                'type': 'Salad',
                'name': document.getElementById('salad_name').value,
                'quantity': document.getElementById('salad_quantity').value
            };

            addToCart(salad);

            // Close the Modal
            $('#saladModal').modal('hide');
        }

        function addSubToCart() {

            var sub = {
                'type': 'Sub',
                'name': $('select#sub_name').val(),
                'size': $('select#sub_size').val(),
                'extras': $('select#sub_extras').val(),
                'quantity': document.getElementById('sub_quantity').value
            };

            addToCart(sub);

            // Close the Modal
            $('#subModal').modal('hide');
        }

        function addToCart(product) {
            // Inputs a product in JSON format

            var CSRFToken = null;
            // Get the CSRF Token
            CSRFToken = getCookie('csrftoken');

            const request = new XMLHttpRequest();
            request.open('POST','/addToCart');
            request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            request.onload = () => {
                    updateCartBadge();
                };

            const data = new FormData();
            data.append('product', JSON.stringify(product));

            // Send the request
            request.send(data);
        }

        function updateCartBadge() {
            var loginButton = document.getElementById('login_btn');

            if(loginButton == null) {
                // Update cart items count from database
                var CSRFToken = null;

                // Get the CSRF Token
                CSRFToken = getCookie('csrftoken');

                const request = new XMLHttpRequest();
                request.open('GET','/cart');
                request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                request.onload = () => {
                    const data = request.responseText
                    document.querySelector('#cart_badge').dataset.items = parseInt(data);
                    document.querySelector('#cart_badge').textContent = parseInt(data);
                };

                // Send the request
                request.send()
            };
        };

        document.addEventListener('DOMContentLoaded', () => {

            // Add items to the cart
            // Item format: [name, size, extras, quantity]
            document.querySelectorAll('.addCart').forEach(item => {
                item.addEventListener('click', () => {
                    // Set item specific functions
                    switch(item.id) {
                        case 'platterAddCart':
                            addDinnerPlatterToCart();
                            break;
                        case 'pastaAddCart':
                            addPastaToCart();
                            break;
                        case 'pizzaAddCart':
                            addPizzaToCart();
                            break;
                        case 'saladAddCart':
                            addSaladToCart();
                            break;
                        case 'subAddCart':
                            addSubToCart();
                            break;
                    }
                });
            });
        });
    </script>
{% endblock content%}