{% extends "orders/base.html" %}

{% block title %}
Pinocchio's | Pizza Order
{% endblock %}

{% block script %}
<script>
    function setToppingCheckboxState() {

        // Get the Toppings Select div
        checkboxes = document.getElementsByClassName('form-check-input');

        // Get the Pizza Type.
        // Cheese Pizza - Can't select any toppings
        // 1 Topping - Can select 1 topping
        // 2 Toppings - Can select 2 toppings
        // 3 Toppings - Can select 3 toppings
        // Special - Can select any amount of toppings
        var maxNumToppings = -1;
        switch("{{ pizza.name }}") {
            case "Cheese":
                maxNumToppings = 0;
                break;
            case "1 Topping":
                maxNumToppings = 1;
                break;
            case "2 Toppings":
                maxNumToppings = 2;
                break;
            case "3 Toppings":
                maxNumToppings = 3;
                break;
            case "Special":
                maxNumToppings = 9999;
                break;
        }

        var numChecked = 0;

        // check the number of checked boxes if necessary
        if (maxNumToppings > 0 && maxNumToppings < 4) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) { numChecked++; }
            };
        };

        // set the checkboxes read-only when applicable
        if (maxNumToppings < 1 || numChecked >= maxNumToppings)
        {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].disabled = !checkboxes[i].checked;
            };
        }
        else if (maxNumToppings > 0 && numChecked < maxNumToppings) {

            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].disabled = false;
            };

        }       
    };

    document.addEventListener('DOMContentLoaded', () => {
        
        // Set the state of the check boxes
        setToppingCheckboxState();
    });

</script>
{% endblock %}

{% block body %}

    <h1>Build your Pizza!</h1>
    <h3>{{ pizza.type }} {{ pizza.name }} Pizza</h3>
    <hr>
    <h3>Toppings</h3>
    {% for topping in toppings %}
    <div class="form-check" id="toppingsSelect">
            <input class="form-check-input" type="checkbox" id="topping_{{ topping.id }}" onclick="setToppingCheckboxState()">
            <label class="form-check-label" for="topping_{{ topping.id }}">{{ topping.name }}</label>
    </div>
    {% endfor %}

    <hr>

    <button type="button" class="btn btn-primary btn-lg">Add to Cart</button>

{% endblock %}
